<div class="alert flash">
    <button type="button" class="close">×</button>
    <i class="fa sign"></i><strong></strong> 
    <span><%= message %></span>
  </div>
  <div class="alert alert-<%= type %>" role="alert">
    <span class="close-btn">&times;</span><%= message %>
</div>