
<% 
    // linh = 'abc';
    pagination = (pagiParams, col) =>{
        var html = `<ul class="pagination text-center">`;
        var link = systemConfig.prefixAdmin + '/' + col ;
        if(pagiParams.currentPage === 1){
            html += `<li class="disabled"><a>«</a></li>`;
        }else{
            html += `<li><a target="_self" href="${link}?p=1">«</a></li>`;
        }
        
        if(pagiParams.currentPage === 2){
            html += `<li>
                    <a target="_self" href="${link}?p=1">1</a>
                </li>`;
        }else if(pagiParams.currentPage === 3){
            html += `<li>
                    <a target="_self" href="${link}?p=1">1</a>
                </li>
                <li>
                    <a target="_self" href="${link}?p=2">2</a>
                </li>`;
        }else if(pagiParams.currentPage > 3){
            html += `<li>
                    <a target="_self" href="${link}?p=1">1</a>
                </li>
                <li class="active">
                        <a>...</a>
                </li>
                <li>
                    <a target="_self" href="${link}?p=${pagiParams.currentPage-1}">${pagiParams.currentPage-1}</a>
                </li>`;
        }
        html += `<li class="active">
                        <a>${pagiParams.currentPage}</a>
                </li>
                `;
        if(pagiParams.currentPage === (pagiParams.totalPages -1)){
            html += `<li>
                    <a target="_self" href="${link}?p=${pagiParams.totalPages}">${pagiParams.totalPages}</a>
                </li>`;
        }else if(pagiParams.currentPage === (pagiParams.totalPages -2)){
            html += `
                <li>
                    <a target="_self" href="${link}?p=${pagiParams.totalPages-1}">${pagiParams.totalPages-1}</a>
                </li>
                <li>
                    <a target="_self" href="${link}?p=${pagiParams.totalPages}">${pagiParams.totalPages}</a>
                </li>
                `;
        }else if(pagiParams.currentPage < (pagiParams.totalPages -2)){
            html += `<li>
                    <a target="_self" href="${link}?p=${pagiParams.currentPage+1}">${pagiParams.currentPage+1}</a>
                </li>
                <li class="active">
                        <a>...</a>
                </li>
                <li>
                    <a target="_self" href="${link}?p=${pagiParams.totalPages}">${pagiParams.totalPages}</a>
                </li>`;
        }
        if(pagiParams.currentPage === pagiParams.totalPages){
            html += `<li class="disabled"><a>»</a></li>`;
        }else{
            html += `<li><a target="_self" href="${link}?p=${pagiParams.totalPages}">»</a></li>`;
        }
        html += `</ul>`;
        return `
        <div class="panel panel-info" id="pagination">
            <div class="panel-heading">
                Pagination
                <span>^</span>
                <span class="label label-warning">Total pages: ${pagiParams.totalPages}</span>
                <span class="label label-danger">Total entries: ${pagiParams.totalItems}</span>
            </div>
            <div class="panel-body">
                <div class="infor-pagination">
                    <p>
                        Number of elements on the page:
                        <span>${pagiParams.itemsPerPage}</span>
                    </p>

                </div>
                <div class="ad-pagination">
                    ${html}
                </div>
            </div>
        </div>
        `;
    }
%> 