
<% 
    // linh = 'abc';
    pagination = (pagiParams) =>{
        html = ``;
        for(var i = 1; i <= pagiParams.totalPages; i++){
            html += `<li>
                        <a target="_self" href="${systemConfig.prefixAdmin}/${statusCurrent}?p=${i}">${i}</a>
                    </li>`;
    }
        return `
        <div class="panel panel-info" id="pagination">
            <div class="panel-heading">
                Pagination
                <span>^</span>
                <span class="label label-warning">Total pages: ${pagiParams.totalPages}</span>
                <span class="label label-danger">Total entries: ${pagiParams.totalItems}</span>
            </div>
            <div class="panel-body">
                <div class="infor-pagination">
                    <p>
                        Number of elements on the page:
                        <span>${pagiParams.itemsPerPage}</span>
                    </p>

                </div>
                <div class="ad-pagination">
                    <ul class="pagination text-center">
                        <li class="disabled"><a>«</a></li>
                        ${html}
                        <li>
                            <a target="_self" href="${systemConfig.prefixAdmin}/${statusCurrent}?p=0">»</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        `;
    }
%> 