<!-- cách xây dựng hàm và nhúng hàm trong ejs -->
<% statusHelper = (status, link) => { %>
    <div>abc</div>
    <a href="<%= link %>">
        
        <% if(status == 1){ %>
            <span class="label label-success">active</span>
        <% }else{ %>
            <span class="label label-warning">inactive</span>
        <%} %>
    </a>
<% } %>