<!-- cách xây dựng hàm và nhúng hàm trong ejs -->
<% statusHelper = (status, link) => { %>

    <a target="_self" href="<%= link %>">
        
        <% if(status == 'active'){ %>
            <span class="label label-success">active</span>
        <% }else if(status == 'inactive'){ %>
            <span class="label label-warning">inactive</span>
        <%} %>
    </a>
<% } %>