<!-- cách xây dựng hàm và nhúng hàm trong ejs -->
<% statusHelper = (status, id) => { 
    let html ='';
    if(status == 'active'){
        html = `<span class="label label-success">active</span>`;
    }else if(status == 'inactive'){
        html = `<span class="label label-warning">inactive</span>`;
    }
    return `<a target="_self" href="${systemConfig.prefixAdmin}/change-status?id=${id}&status=${status}">${html}</a>`;
 } %>