<!-- /.content-wrapper -->
<footer class="main-footer">
    <div class="container">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.4.0
        </div>
        <strong>Zendvn.com</strong>
    </div>
    <!-- /.container -->
</footer>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="chat/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="chat/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="chat/js/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="chat/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="chat/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="chat/js/demo.js"></script>
<script src="socket.io/socket.io.js"></script>
<script>
    var chat_form = document.getElementById("chat_form");
    var chat_message = document.getElementById("message");
    var username = document.getElementById("username");

    var socket = io.connect('http://zendvnexpress.noteatext.com');
    socket.on("server_send_data", (data) => {
        console.log(data);
    });
    chat_form.addEventListener('submit', () => {
        socket.emit('client_send_all_message', {
            content: chat_message.value,
            username: username.value
        });
        chat_message.value = '';
        return false;
    });
</script>
</body>

</html>