<!DOCTYPE html>
<html>

<head>
    <%- include('inc/admin/elements/head') %>
</head>

<body>
    <div id="wrapper">
        abc
    </div>
    <%- include('inc/admin/elements/script') %>

</body>

</html>